.Tooltip {
    position: relative;

    .Tooltip__message {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 2000;
        pointer-events: none;
        opacity: 0;
        transform: translate(-50%, 50%);
        transition: 250ms opacity ease, 250ms transform ease;
        background-color: var(--gray-1);
        padding: 0.125rem 0.5rem;
        border-radius: var(--border-radius-md);
        width: max-content;

        &.Tooltip__message--show {
            opacity: 1;
            transform: translate(-50%, 0.25rem);
        }
    }
}