.ButtonGroup {
    display: flex;
    flex-direction: row;

    > .Button {
        width: 100%;
        justify-content: center;

        &:not(:first-child) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }

        &:not(:last-child) {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}

.ButtonGroup--size-lg {
    width: 100%;

    > .Button {
        --Button-padding-x: 1rem;
        --Button-padding-y: 1rem;
        justify-content: center;
    }
}

.ButtonGroup--seperated {
    > .Button {
        &:not(:first-child) {
            margin-left: 2px;
        }
    }
}