.NavbarButton__Icon-wrapper {
    position: relative;
}

.NavbarButton__icon {
    transition: 250ms opacity;
    opacity: 0;
}

.NavbarButton {
    &.Button--active .NavbarButton__icon--active {
        opacity: 1;
    }

    &:not(.Button--active) .NavbarButton__icon--inactive {
        opacity: 1;
    }
}


.NavbarButton__icon:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}