.BlocklyWorkspace {
    height: 100%;
    width: 100%;

    .blocklyMainBackground {
        stroke: none;
    }

    .blocklyToolboxDiv {
        display: none !important;
    }

    .blocklyScrollbarHandle {
        fill: var(--gray-3);
    }

}

/** Select dropdowns **/
.blocklyDropDownDiv {
    padding: 0;
    background: var(--gray-1);
    border: 2px solid var(--gray-2);
    border-radius: var(--border-radius-md);

    .blocklyMenuItem {
        color: var(--text-primary);
        padding: 0.5rem;

        &:hover {
            background: var(--gray-2);
        }

        &.blocklyMenuItemSelected {
            background: var(--gray-2);
        }
    }

    .blocklyMenuItemCheckbox {
        display: none;
    }
}

.blocklyReplaceable > path {
    fill-opacity: 1 !important;
    stroke-width: 2px !important;
    stroke: yellow !important;
}

.blocklyHtmlInput {
    background: #fff !important;
    color: var(--text-primary-inverse) !important;
}

.blocklyEditableText {
    > rect.blocklyDropdownRect {
        fill: transparent !important;
        stroke: rgba(0, 0, 0, 0.2) !important;
        stroke-width: 1px !important;
    }

    > rect {
        fill-opacity: 1 !important;
    }

    > text.blocklyDropdownText {
        fill: #fff !important;
    }

    > text {
        fill: var(--text-primary-inverse) !important;
    }
}

.blocklyDropdownText  {
    > tspan {
        fill: inherit !important;
    }
}
