.RecordsGraphToolbar__timespan-selector .Button {
    --Button-background: var(--gray-1);
    --Button--hover-background: var(--gray-2);
    --Button--focus-background: var(--blue-4);
    --Button--active-background: var(--blue-4);
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}