.FlowEditor-field {
    max-width: 600px;

    .FlowEditorBlock {
        background: var(--gray-1);
    }
}

.FlowEditor-field__footer {
    .ListItem__button {
        --Button-background: var(--gray-1);
        --Button--hover-background: var(--gray-2);
        text-align: center;
    }
}