.FlowWorkspace {
    --FlowWorkspace-background: var(--gray-0);
    --FlowWorkspace__flyout-background: var(--gray-0);
    --FlowWorkspace__toolbox-border: 2px solid var(--gray-1);
    height: 100%;
    position: relative;
}