.ReactModalPortal {
    position: relative;
    z-index: 99999;
}

.ReactModal__Overlay {
    background: rgb(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(5px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ReactModal__Content {
    top: 50% !important;
    left: 50% !important;
    right: unset !important;
    bottom: unset !important;
    transform: translate(-50%, -50%);
    background-color: var(--gray-1) !important;
    color: var(--text-primary);
    border: 1px solid var(--gray-0) !important;
}

h4, h5, h6 {
    font-weight: 600;
}

img, .user-drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}